@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
    font-family: 'Lato', sans-serif;
  } */

  /* .custom-img{
    background-image: url(Contact_Us_Banner.jpg);
  } */

  html {
    font-family: 'roboto', sans-serif;
  }
